<configuration>
  <AuthorizeUrl><![CDATA[https://open.weixin.qq.com/connect/oauth2/authorize]]></AuthorizeUrl>
  <AuthorizeRedirect_uri>/api/authorize/index.ashx</AuthorizeRedirect_uri>
  <Oauth2Url><![CDATA[https://api.weixin.qq.com/sns/oauth2/access_token]]></Oauth2Url>
  <SnsTokenCacheName>QWan_SnsTokenCacheName</SnsTokenCacheName>
  <UserinfoUrl><![CDATA[https://api.weixin.qq.com/sns/userinfo]]></UserinfoUrl>
  <TokenUrl><![CDATA[https://api.weixin.qq.com/cgi-bin/token]]></TokenUrl>
  <TokenCacheName>QWan_TokenCacheName</TokenCacheName>
  <TicketUrl><![CDATA[https://api.weixin.qq.com/cgi-bin/ticket/getticket]]></TicketUrl>
  <TicketCacheName>QWan_TicketCacheName</TicketCacheName>
  <AgentCacheName>QWan_AgentCacheName</AgentCacheName>
</configuration>