<configuration>
  <Agents>
    <AgentItem id="15" agent="电众" name="安利活动工具" authorize="false" token="false" sn="YwFcTVuXSQoPdu71UVk8EfNEPY2nzCgsOaib8FH6KNtJ6ozapeIV7kAJI0mUT6of"  signature="true" url="aatool.amway.com.cn" begin="2016-10-20" end="2017-12-31" ></AgentItem>
    <AgentItem id="37" agent="电众" name="安利A+画册2016" authorize="false" token="false" sn="JCHApHj3WjdGpXVSgF9HY8llIAzu0H2UKitpCBCNlgwHMz179SRAUcrBglRO8N2f"  signature="true" url="myspace2.amway.com.cn" begin="2016-10-20" end="2017-12-31" ></AgentItem>
    <AgentItem id="28" agent="电众" name="安利圣诞H5-嘴里的圣诞树2016" authorize="true" token="true" sn="Yg3roxhkLtddjcPhgYySwFGjHUnOzp3oskHr8Sles56gFNAaAHBhpBujyJJt9sKm"  signature="true" url="christmas-record2016.amway.com.cn" begin="2016-11-15" end="2017-02-10" ></AgentItem>
    <AgentItem id="41" agent="电众" name="安利新年贺卡2017" authorize="true" token="true" sn="4oRqiDoBaSspr9uaN3jSm8E1Ii9ltTLn9n0sG4krINQy0AkBzI3OOIrUJPGYu27g"  signature="true" url="newyear2017.amway.com.cn" begin="2016-11-15" end="2017-03-10" ></AgentItem>
    <AgentItem id="60" agent="腾讯" name="营养早餐(正式)" authorize="true" token="false" sn="Uhft7oAfNdt8cB4Q4CstYlIOH8OUuvfpnijT8lMcnH3Xo5KnTCQK0plyyqLXyFJi"  signature="true" url="morningnutrition.act.qq.com" begin="2016-11-30" end="2017-01-19" ></AgentItem>
    <AgentItem id="61" agent="腾讯" name="营养早餐(测试)" authorize="true" token="false" sn="iq1YdDusO2CwUj6nTC7ke2IMRKXmMDe5gPhnVbtaIn4VuGsYWYhgL2GfGe7sF7Eb"  signature="true" url="morningnutrition.act.qq.com" begin="2016-11-30" end="2017-01-19" ></AgentItem>
  </Agents>
</configuration>