<?xml version="1.0" encoding="utf-8" ?>
<configuration usePool="false" disposeTime="3">
  <db id="0" isDefault="true" genre="2000+">
    <db_provider>Provider=SQLOLEDB;</db_provider>
    <db_source>Data Source=127.0.0.1;</db_source>
    <db_user>User ID=sa;</db_user>
    <db_password>Password=ms2012;</db_password>
    <db_catalog>Initial Catalog=QWan;</db_catalog>
  </db>
</configuration>